:focus {
outline: 0;
}

.hospital_bg {
background-image: url("../images/hospital.jpg");
background-repeat: no-repeat;
background-size: 950px 600px;
height:1000px;
display: inline-block;
}

.bank_bg {
background-image: url("../images/bank.jpg");
background-repeat: no-repeat;
background-size: 950px 600px;
height:1000px;
display: inline-block;
}

.da_bronx {
cursor:pointer;
background-image: url("../images/da_bronx.jpg");
background-repeat: no-repeat;
background-size: 248px 95px;
height:95px;
width:248px;
display: inline-block;
}
.da_bronx_red {
cursor:pointer;
background-image: url("../images/da_bronx_red.jpg");
background-repeat: no-repeat;
background-size: 248px 95px;
height:95px;
width:248px;
display: inline-block;
}

.downtown {
cursor:pointer;
background-image: url("../images/downtown.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}
.downtown_red {
cursor:pointer;
background-image: url("../images/downtown_red.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}

.jersey {
cursor:pointer;
background-image: url("../images/jersey.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}
.jersey_red {
cursor:pointer;
background-image: url("../images/jersey_red.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}

.outta_town {
cursor:pointer;
background-image: url("../images/outta_town.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}
.outta_town_red {
cursor:pointer;
background-image: url("../images/outta_town_red.jpg");
background-repeat: no-repeat;
background-size: 245px 95px;
height:95px;
width:245px;
display: inline-block;
}

#refresh_button {
cursor:pointer;
padding:4px 18px 4px 18px;
border-width: 1px;
color: #FFFFFF;
font-size:12px;
border: solid 1px #555555;
background-color: #2F2F4F;
position: absolute;
z-index: 1;
}

#refresh_button:active {
cursor:pointer;
padding:4px 18px 4px 18px;
border-color:grey;
border-style:solid;
border-width: 1px;
color:white;
font-size:12px;
background-color:grey;
position: absolute;
z-index: 1;
}

.payment_method_nav{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    background-image: url("../images/gb1.png");
	background-size: 100% 35px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 15px;
    color: rgb(170, 170, 170);
    padding: 2px 23px 2px 23px;
    margin: 5px 2px 0px;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(125, 125, 125);
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}
.payment_method_selected {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    font-size: 15px;
    padding: 2px 23px 2px 23px;
    margin: 5px 2px 0px;
    text-align: center;
	color:white;
    background-color:#6E1D0C;
    border: 1px solid #882D1B;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}

.sell-nav{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    background-image: url("../images/gb1.png");
	background-size: 100% 35px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 15px;
    color: rgb(170, 170, 170);
    padding: 2px 23px 2px 23px;
    margin: 5px 2px 0px;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(125, 125, 125);
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}
.sell_selected {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    font-size: 15px;
    padding: 2px 23px 2px 23px;
    margin: 5px 2px 0px;
    text-align: center;
	color:white;
    background-color:#6E1D0C;
    border: 1px solid #882D1B;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}

.top-nav{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    background-image: url("../images/gb1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 15px;
    color: rgb(170, 170, 170);
    padding: 2px 6px 2px 6px;
    margin: 5px 2px 0px;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(125, 125, 125);
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}
.nav_selected {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none; 
	unselectable:on;
	onselectstart:return false;
	position: relative;
    font-size: 15px;
    padding: 2px 6px 2px 6px;
    margin: 5px 2px 0px;
    text-align: center;
	color:white;
    background-color:#6E1D0C;
    border: 1px solid #882D1B;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    float: left;
    opacity: 1;
    z-index: 1;
}

#main_container {
			width:100%;
			max-width:1100px;
			margin-left:auto;
			margin-right:auto;
}

body
			{
			margin:0px;
			padding:0px;
			background-color:#000000;
			overflow-x:hidden;
			font-family:tahoma,verdana,arial,sans-serif;
			}
			
.header
			{
			width:100%;
			max-width:1120px;
			min-height:70px;
			margin-left:auto;
			margin-right:auto;
			}

.main
			{
			width:100%;
			max-width:1120px;
			margin-left:auto;
			margin-right:auto;
			}

.welcome
			{
			width:100%;
			max-width:1120px;
			min-height:70px;
			margin-left:auto;
			margin-right:auto;
			background: url("../images/charactercreate.jpg") transparent;			
			background-repeat: no-repeat;
			background-size:100% 100%;
			}

span.blueButton{
    background-color:#3b5998;
    margin: 0px 5px 0px 5px;
    padding: 5px 10px 5px 10px;

    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

    border-right: solid 1px #505050;
    border-top: solid 1px #505050;
    border-right: solid 2px #808080;
    border-bottom: solid 2px #808080;
}
a.blueButton:link { color: white; text-decoration: none;}
a.blueButton:visited { color: white; text-decoration: none;}
a.blueButton:hover { color: white; text-decoration: none;}





span.bigBlueButton{
    background-color:#3b5998;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;

    color: white;
    font-size: 36px;
    font-weight: 800;
    text-align: center;

    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: gray;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: gray;
}
a.bigBlueButton:link { color: white; text-decoration: none;}
a.bigBlueButton:visited { color: white; text-decoration: none;}
a.bigBlueButton:hover { color: white; text-decoration: none;}







a.button {
  color: white;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  height: 34px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: bold;
}
a.button span {
  display: block;
  float: left;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 5px;
}



a.button_blue {
    background: transparent url('../images/button_blue.png') no-repeat scroll top right;
}
a.button_blue:hover, a.button_blue:hover span
{ background-image: url('../images/button_blue_hover.png'); }

a.button_blue:active, a.button_blue:active span
{ background-image: url('../images/button_blue_click.png'); }

a.button_blue span {
    background: transparent url('../images/button_blue.png') no-repeat scroll top left;
}






a.button_gray {
    background: transparent url('../images/button_gray.png') no-repeat scroll top right;
}
a.button_gray span {
    background: transparent url('../images/button_gray.png') no-repeat scroll top left;    
}
a.button_gray:hover, a.button_gray:hover span
{ background-image: url('../images/button_gray_hover.png'); }

a.button_gray:active, a.button_gray:active span
{ background-image: url('../images/button_gray_click.png'); }
a.button:active span { height: 26px; padding-top: 8px; }
button.button:active span { height: 26px; padding-top: 8px; }
div.zoomButton {
    border: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 19px;
    height: 19px;
    background-image: url('');
    background-position: center center;
    z-index: 100;
    cursor:pointer;
}